Body {
  background-color: white;
  margin:0 auto;
  width: 768px;
}


header{
height: 500px;
position: absolute;
background-color: white;
width: 768px;
}

#seasonsheader {
  height: 300px;
  margin-top: 50px;
  margin-left:
}

.number{
  position: relative;
  height:400px;
  background-color: white;
  width: 500px;
  top: 400;

}

.chineseseasons{
  background-color: blue;
  width: 768px;
  position: relative;
  top: -15px;
  text-align: right;
}

#about {
background-color: white;
width: 768px;
height: 600px;
position: absolute;
top: 500px;
}

.quote {
  background-color: white;
  width: 600px;
  height: 270px;
  position: relative;
  font-family: rift-soft,sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 50px;
  margin-left: 250px;

}

.aboutseasons {
  background-color: white;
  width: 150px;
  position: relative;
  left: 15px;
  height: 100px;
  top: 50px;
}

.aboutcontent {
  background-color: white;
  position: relative;
  width: 500px;
  right: -230px;
  bottom: 70px;
  top: -80px;
}

#grids {
  background-color:white;
  height: 1300px;
  position: absolute;
  width: 768px;
  top: 750px;

}

#titleofgrids {
  background-color: white;
  height: 100px;
  width: 300px;
  position: relative;
  left: 230px;
}

#row1 {
  display: flex;
  justify-content: space-around;
}

h2 {
  text-align: center;
  font-size: 20px;
  font-family: rift-soft,sans-serif;
  font-weight: 300;
  font-style: normal;
}

#aboutabout {
  text-align: center;
  font-size: 30px;
  font-family: rift-soft,sans-serif;
  font-weight: 300;
  font-style: normal;

}

#theseasons1 {
  margin-top: -70px;
  margin-left: 200px;
}

h3 {

font-family: montana, sans-serif;

font-weight: 400;

font-style: normal;
font-size: 30px;
}

.collapsible {
  height: 150px;
  width: 150px;
  background-color: yellow;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  top: 15px;
  opacity: 1;
  margin-top: 10px;
}


.infobox {
  height: 150px;
  width: 150px;
  background-color: white;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  top: 15px;
  opacity: 1;
  margin-top: 10px;
  border-style: solid;
}

.og-expanded-content {
  visibility:hidden;
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}



.active .coll:hover {
  background-color: #ccc;
}

.text {
  width: 75%;
  padding-left: 10px;
  margin-left: 125px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 40%;
  left: 10%;
  width: 80%;
  background: white;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, .3);
  padding: 2rem;
  height: 400px;
}

.image {
  width: 20%;
  float: left;
  margin-right: 10px;
}

#flower {
  width: 50px;
  height: 50px;
}

#therains {
  height: 50px;
  width: 50px;
}


#insectsawakening {
  height: 50px;
  width: 50px;
}


#vernalequinox {
  height: 50px;
  width: 50px;
}


#row2 {
  display: flex;
  justify-content: space-around;
}

#clearbright {
  height:50px;
  width:50px;
}

#grainrain {
  height: 50px;
  width: 50px;
}

#row3 {
  display: flex;
  justify-content: space-around;
}

#graininear {
  height: 50px;
  width: 50px;
}

#greatheat {
  height: 60px;
  width: 40px;
}

#row4 {
  display: flex;
  justify-content: space-around;
}

#autumnbegins {
  height: 50px;
  width: 50px;
}

#row5 {
  display: flex;
  justify-content: space-around;
}

#row6 {
  display: flex;
  justify-content: space-around;
}

p {
  font-family: rift-soft,sans-serif;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  size: 40px;
}


.sources {
  position: relative;
  background-color: white;
  height: 150px;
  width: 700px;
  top: 50px;
  left: 30px;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  font-family: rift-soft,sans-serif;
  font-weight: 300;
  font-style: normal;


}
