body {
  background-color: #FEFEFE;
}

h1 {
  font-family: comfortaa;
  margin-left: 425px;
  color: #150BFF;

}

header {
  display: flex;
  background-color: #FEFEFE;

}


#shopcart {
    width: 20pt;
    height: 20pt;
    margin-left: 375px;
    margin-top: 25px;
    margin-bottom: 20px;
}


.container {
width: 1024px;
margin:0 auto;
}


section {
  border: 1px solid #FEFEFE;
  background-color: #FEFEFE;
  padding-top:100px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 315px;
  font-size: large;
  font-family: comfortaa;

}

#alpha {}

.letter-container {
  background-color: #D6D3D3;
  height: 400px;
  margin-top: 0px;
  display: flex;
  z-index: 0;

}

#letter-analysis {
  font-family: comfortaa;
  visibility: hidden;
z-index:80;
position: absolute;
top: -6px;
left: 361.3px;
width: 315px;



}

#letter-analysis.visible {
  visibility: visible;
}
.letter-container {
  z-index: 70;
  position: relative;
}

h2 {
  color: #150BFF;
  font-size: 300px;
  font-family: comfortaa;
  font-weight: 400;
  background-color: #D6D3D3;
  position: absolute;
  top:-30px;
left: 370px;
  margin-top: 50px;


}

h3 {
  color: #707070;
  font-family: comfortaa;
  font-size: 100px;
}

.analyzebutton {

  height:20px;
  font-family: comfortaa;
  position: absolute;
  top:340px;
  left: 365px;

}
#button {
  font-size: 10pt;
  width: 100px;
  color:#150BFF;
  font-family: comfortaa;
  margin-left: 100px;
}

.aboutcontainer {
  height: 600px;
  position: relative;
  margin-top: 50px;
  margin-left: 500px;

}

p {
  font-family: comfortaa;
  width: 322px;
  margin-left: -100px;
}

.p1 {
  font-family: comfortaa;
  width: 322px;
  margin-left:150px;
}



footer {
  font-family: comfortaa;
  background-color: #D6D3D3;
  display: flex;
  position: relative;

}

img {

  margin-left: 20px;
  margin-top: 30px;
  float: left;
  margin-bottom: 20px;
}




.bio {
  padding-left: 15px;
  padding-top: 140px;
}

.link {
position: absolute;
right: 25px;
top: 230px;
}

#selfie {
height: 200px;
width: 250px;
}
