body {
  background-color: #FEFEFE;
}

h1 {
  font-family: comfortaa;
  margin-left: 650px;
  color: #150BFF;

}
 hr {
   width: 100%
 }
.top {
  position: fixed;
  background-color: #FEFEFE;
  width: 100%;
}

section {
  border: 1px solid #FEFEFE;
  background-color: #FEFEFE;
  padding-top:100px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 550px;
  font-size: large;
  font-family: comfortaa;

}



h2 {
  color: #150BFF;
  font-size: 300px;
  font-family: comfortaa;
  background-color: #D6D3D3;
  width: 100%;
  text-align: center;
}

h3 {
  color: #707070;
  font-family: comfortaa;
  font-size: 100px;
  margin-left: 700px;
  margin-top: 300px
}


button {
  font-size: 10pt;
  color:#150BFF;
  font-family: comfortaa;
  margin-left: 675px;
}

.container {
  height: 600px;
}

p {
  font-family: comfortaa;
  width: 322px;
  margin-left: 600px;
}

.p1 {
  font-family: comfortaa;
  width: 322px;
  margin-left:900px;
}



footer {
  font-family: comfortaa;
height: 270px;
width: 100%;
  background-color: #D6D3D3;
  flex-direction: column;

}

img {
  width: 200pt;
  height: 150pt;
  margin-left: 20px;
  margin-top: 30px;
  float: left;
  margin-bottom: 30px;
}
