body {
  background-color: #BC941B;
  margin: 0;
}



.container {
background-color: #BC941B;
width: 60%;
margin-left: 20%;
margin-right: 20%;
position: relative;
color: black;
}


h1 {
  font-family: balboa-plus-fill, sans-serif;
font-weight: 400;
font-style: normal;
font-size: 6rem;
text-align: center;
color: black;
position: relative;

}

h2 {
  font-family: eloquent-jf-small-caps-pro, serif;
font-weight: 400;
font-style: normal;
text-align: center;
margin-top: 2rem;
color: black;
position: relative;
line-height: 20px;
}

p {
  padding: 5px;
  font-family: anonymous-pro, monospace;
font-weight: 400;
font-style: normal;
line-height: 20px;
color: black;
text-indent: 10%;


}

progress {
  /* Positioning */
  position: fixed;
  left: 0;
  top: 0;
  
  z-index:999;
  background-color: #724E3F;

  /* Dimensions */
  width: 100%;
  height: 5px;

  /* Reset the appearance */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  /* Get rid of the default border in Firefox/Opera. */
  border: none;

  /* Progress bar container for Firefox/IE10+ */
  background-color: transparent;

  /* Progress bar value for IE10+ */
  color: #724E3F;
}


  progress::-webkit-progress-bar {
    background-color: transparent;
  }

/* Color of the Progress bar for Mozilla based browsers  */
  progress::-moz-progress-bar {
    background-color: #724E3F;
  }

/* Color of the Progress bar for Chrome based browsers  */
  progress::-webkit-progress-value {
    background-color: #724E3F;
  }

blockquote {
  font-family: eloquent-jf-small-caps-pro, serif;
font-weight: 400;
font-style: normal;
color: black;
font-size: 19px;
}

hr {
  border: 1px solid black;
}



iframe {
  height:150px;
width: 300px;
position: relative;
padding-left: -200px;
display: block;
}



/* Centered text */
.centered {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}



img {
  padding-right: 0;
  padding-left: 0;
  opacity: 0.5;
 filter: alpha(opacity=50);
 margin-left: auto;
 margin-right: auto;
 display: block;
}

#grant {
  height:150px;
  width:120px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

#oldzoo {
  height:300px;
  width: 300px;
  opacity: 0.5;
 filter: alpha(opacity=50);
}

#zoo2 {
  width: 200px;
  height: 200px;
  margin-top: 50px;
  border-radius: 100%;
}

#zoo1 {
  width: 200px;
  height:200px;
  border-radius: 20%;
  margin-left: 20px;
}

#zoo3 {
  width: 300px;
  height:300px;
  border-radius: 30%;
  margin-left: auto;
  margin-right: auto;
}

.containerthree{
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

audio {
  display: block;
  width: 100px;
}










@media only screen and (min-width:500px) and (max-width:768px) {

}



@media only screen and (min-width:769px){

}
